.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cn {
  margin: 25px;
}

#ss {
  margin: 9px;
  width: 200px;
}

h1 {
  text-align: center;
  margin: 30px 0px 40px 0px;
}
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(76, 76, 76);
  margin-top: 0px;
  font-size: 1em;
  font-weight: bold;
  bottom: 0;
  height: 10%;
}
body {
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: 100%;
}

#cimg {
  text-align: center;
}
#name {
  margin: 20px;
}

img {
  margin: 30px 0px 0px 0px;
}
